.rps-body {

    background-color:salmon
}

.rock-button {

    padding: 0.5rem 1rem;
}

.paper-button {

    padding: 0.5rem 1rem;
}

.scissor-button {

    padding: 0.5rem 1rem;
}

.reset-button {

    padding: 0.5rem 1rem;
}

